body { padding-top: 120px; }

@font-face {
    font-family: 'brandon-bold'; /*a name to be used later*/
    src: url('../fonts/Brandon_bld.otf'); /*URL to font*/
}

@font-face {
    font-family: 'brandon-light'; /*a name to be used later*/
    src: url('../fonts/Brandon_light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'helvetica-neue'; /*a name to be used later*/
    src: url('../fonts/HelveticaNeueLTPro-Md.otf'); /*URL to font*/
}

@font-face {
    font-family: 'sourcesanspro_re'; /*a name to be used later*/
    src: url('../fonts/ProximaNovaReg.otf'); /*URL to font*/
}


@font-face {font-family:"F2U Scratch";src:url("../fonts/F2U_Scratch/F2U_Scratch.eot?") format("eot"),url("../fonts/F2U_Scratch/F2U_Scratch.woff") format("woff"),url("../fonts/F2U_Scratch/F2U_Scratch.ttf") format("truetype"),url("../fonts/F2U_Scratch/F2U_Scratch.svg#F2UScratch") format("svg");font-weight:normal;font-style:normal;}


#name{
  font-family: "F2U Scratch";
  font:bolder;
}
#belief{
  font-family: "brandon-light";
  font-size:17px;
  color: #990000;
  padding-bottom: 30px;
}


.title-fmars{
  font-family: "F2U Scratch";
  margin-bottom: 20px;
  margin-top: 55px;
}

.navbar_font {
  font-family: "F2U Scratch";
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
}

#title-fmars h2{
  font-family: "F2U Scratch"
}

#intro p{
  color: #707070;
  font-size: 16px;
}
#interest p{
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}
#find-me-at{
  margin-top: 60px;
  margin-left: 25px;
}

#find-me-at li{
  line-height: 10px;
  margin-top:15px;
  font-family: 'brandon-bold';
  font-size: 17px;
  letter-spacing: 1px;
  color: black;
}


.visit-map{
  margin-top:25px;
  margin-left:25px;
  margin-bottom:15px;

}
