@font-face {
    font-family: 'brandon-bold'; /*a name to be used later*/
    src: url('../fonts/Brandon_bld.otf'); /*URL to font*/
}

@font-face {
    font-family: 'brandon-light'; /*a name to be used later*/
    src: url('../fonts/Brandon_light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'helvetica-neue'; /*a name to be used later*/
    src: url('../fonts/HelveticaNeueLTPro-Md.otf'); /*URL to font*/
}

@font-face {
    font-family: 'sourcesanspro_re'; /*a name to be used later*/
    src: url('../fonts/ProximaNovaReg.otf'); /*URL to font*/
}


@font-face {font-family:"F2U Scratch";src:url("../fonts/F2U_Scratch/F2U_Scratch.eot?") format("eot"),url("../fonts/F2U_Scratch/F2U_Scratch.woff") format("woff"),url("../fonts/F2U_Scratch/F2U_Scratch.ttf") format("truetype"),url("../fonts/F2U_Scratch/F2U_Scratch.svg#F2UScratch") format("svg");font-weight:normal;font-style:normal;}


.nav {
  padding-top:25px;
  padding-bottom: 2px;
  background-color:#efefef;
}

.nav li {
  font:bold;
  display: inline;
  color: rgba(0,0,0,0.5);
}

.nav a {
  color: #5a5a5a;
  font-family: "F2U Scratch";
}

.tab{
  padding-right: 45px;
  font-size:17px;
}

#name{
  font-family: "F2U Scratch";
  font:bolder;
}
#belief{
  font-family: "brandon-light";
  font-size:17px;
  color: #990000;
  padding-bottom: 30px;
}

.title-fmars{
  font-family: "F2U Scratch";
}

#title-fmars h2{
  font-family: "F2U Scratch"
}

#intro p{
  font-family: 'sourcesanspro_re';
  color: #707070;
  font-size: 16px;
  line-height: 1.6em;
  margin-top: 25px;
  margin-bottom: 15px;
}
#interest p{
  font-family: 'Microsoft YaHei';
  font-size: 12px;
}
#find-me-at{
  margin-top: 60px;
  margin-left: 25px;
}

#find-me-at li{
  line-height: 10px;
  margin-top:15px;
  font-family: 'brandon-bold';
  font-size: 17px;
  letter-spacing: 1px;
  color: black;
}


#contact-me{
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

#contact-me h2{
    font-family: "F2U Scratch";
    color:#393c3d;
}

#contact-me p{
  font-family: 'brandon-bold';
  color: #707070;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.visit-map{
  margin-top:25px;
  margin-left:25px;
  margin-bottom:15px;

}
