{% extends "HomepageBase.html" %}

{% block home_page_body %}
	<link rel="stylesheet" href="static/css/msg.css">   
	
	<!-- Required Javascript -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			//hide the all of the element with class msg_body
			$(".msg_body").hide();
			//toggle the componenet with class msg_body
			$(".msg_head").click(function(){
				$(this).next(".msg_body").slideToggle(250);
			});
		});
	</script>
	
	<h2 class='title-fmars'>Readings</h2>
	<div>
		<div class="msg_list">
            {% for ent in read_json %}
            <p class="msg_head">&rarr; {{ ent['title']|safe }} <span style="font-size:17px; float:right"> {{ ent['date'] }} </span></p>
            {% for comment in ent['comments'] %}
			<div class="msg_body">
				<ul>
                    <li class="msg_body_review"> {{ comment|safe }}</li>
				</ul>
			</div>
            {% endfor %}
            {% endfor %}
        </div>            
    </div>
    <a href="https://github.com/fmars/HomePageV2/tree/master/FlaskApp/static/read/read.json">Update</a>
    <a href="http://fmars.me/pull">Trigger</a>
{% endblock %}


