<!DOCTYPE html>
<html>
  <head>
    <title> Fmars.me | Homepage - Jiacheng Feng  </title>
    <link rel="shortcut icon" type="image/x-icon" href="static/stephen.ico" media="screen" />
    <meta name="description" content="Fmars HomePage. I'm now a Software Engineer in Facebook.
      I believe that Inner happiness comes from self-sacrifice" />
    <meta name="keywords" content="Jiacheng Feng, Fmars, 冯嘉程， Homepage, Facebook, Software Engineer" />
    <meta name="author" content="Jiacheng Feng， 冯嘉程" />
    <meta property="og:title" content="Fmars.me" />
    <meta property="og:type" content="homepage" />
    <meta property="og:url" content="http://fmars.me" />
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/HomepageBase.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
              <ul class="nav navbar-nav">
                {% block home_page_nav %}
                <li class="navbar_font"><a href="me" >Me</a></li>
                <li class="navbar_font"><a href="write">Write</a></li>
                <li class="navbar_font"><a href="read">Read</a></li>
                <li class="navbar_font"><a href="xtodo">Xtodo</a></li>
                <li class="navbar_font"><a href="contact">Contact</a></li>
                {% endblock %}
              </ul>
            </div>
            <div class="col-md-2">
              <div class="metanav">
                {% if not session.logged_in %}
                  <a href="{{ url_for('login') }}">log in</a>
                {% else %}
                Hi {{ session.user }},
                <a href="{{ url_for('logout') }}"> logout</a>
                {% endif %}
                {% for message in get_flashed_messages() %}
                  <div class="flash">{{ message }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    {% block home_page_header %}
    <h1 id="name" align='middle'>Fmars</h1>
    <p id="belief" align='middle'><em>Inner happiness comes from self-sacrifice</em></p>
    {% endblock %}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        {% block home_page_body %}
        {% endblock %}
      </div>
      <div class="col-md-3">
        <div id="find-me-at">
          <ul>
            <li><a target="_blank" href="https://github.com/fmars" >GitHub</a></li>
            <li><a target="_blank" href="http://fmarss.blogspot.com/">Blogger</a></li>
            <li><a target="_blank" href="http://www.linkedin.com/pub/jiacheng-feng/41/63b/3a6">LinkedIn</a></li>
          </ul>
          <div id="visit-map">
            <script type="text/javascript" src="http://je.revolvermaps.com/2/4.js?i=4tkc0xttkin&amp;m=0&amp;h=128&amp;c=ff0000&amp;r=0" async="async"></script>
          </div>
        </div>
      </div>
    </div>
    {% block home_page_footer %}
    {% endblock %}
  </body>
</html>
