{% extends "HomepageBase.html" %}

{% block home_page_header %}
{% endblock %}

{% block home_page_body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <strong>Warning!</strong> {{ message }}
</div>
{% endfor %}

{% if session.logged_in %}
<div>
  <form class="form-horizontal" action="xtodo" method="post">
    <div class="form-group">
      <label  class="col-sm-1 control-label">Todo</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="todo" size="80" placeholder="e.g. shave beard * 2">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Detail</label>
      <div class="col-sm-6">
              <textarea type="text" class="form-control" rows="3" rols="40" name="detail" placeholder="e.g. shave beard right after waking up at morning. Insist for two consecutive days."></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class=" col-sm-2">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>
  </form>
</div>
{% else %}
<p>Login to create your todo list.<p>
<p>Contact fmarsf at gmail do com to sign up.</p>
{% endif %}
<hr style="margin-bottom:45px">

<table class="table table-condensed table-striped" width="200">
  <col width="100">
  <col width="100">
  <col width="350">
  <col width="100">
  <tr>
      <th>Date</th>
      <th>User</th>
      <th>Todo</th>
      <th>Result</th>
  </tr>
  {% for entry in entries %}
    {% if entry.res == "none" %}
      {% set state = "warning" %}
    {% elif entry.res == "Done" %}
      {% set state = "success" %}
    {% elif entry.res == "Fail" %}
      {% set state = "active" %}
    {% endif %}
    <tr class="{{state}}">
        <td>{{ entry.date }}</td>
        <td>{{ entry.user }}</td>
        <td>
            <a href="#" data-toggle="tooltip" title="{{ entry.detail }}"> {{ entry.todo }}</a>
        </td>
        <td>
            {% if entry.res == "none" %}
            <div style="float:left">
            <form action="xtodo_update_res" method="post">
               <input type="hidden" name="id" value="{{ entry.id }}">
               <input type="hidden" name="user" value="{{ entry.user }}">
               <button name="res" value="Done" class="btn btn-primary btn-sm" style="height:25px;width:45px">Done</button>
            </form>
            </div>

            <div style="float:left;padding-left:1px">
            <form action="xtodo_update_res" method="post">
               <input type="hidden" name="id" value="{{ entry.id }}">
               <input type="hidden" name="user" value="{{ entry.user }}">
               <button name="res" value="Fail" class="btn btn-primary btn-sm"style="height:25px;width:45px">Fail</button>
            </form>
            </div>
            {% else %}
            <p> {{ entry.res }} </p>
            {% endif %}
        </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
