{% extends "HomepageBase.html" %}

{% block home_page_body %}
	<h2 class='title-fmars'>About Me</h2>
	<div id="intro">
		<ul>
		<li><p>A software engineer at Facebook, working on infrastructure projects.</p>                   </li>
		<li><p>A slow learner, addicted to understanding the rationale and mechanism of systems.</p>      </li>
		<li><p>Dream to be an expert in certain area, to write one program known by the world. </p>   </li>
		<li><p>Currentyl I'm learning, widely.</p>                                                               </li>
		</ul>
    <hr>
	</div>
	

	<h2 class='title-fmars'>Interests</h2>
	<div id="interest">
		<p>周星驰《喜剧之王》，李志某跨年《来了》。</p>
		<p>体育科比·布莱恩特。</p>
		<p>I'm trying hard to give up Dota Imba addiction on the way. 03.29.2015 </p>
		<p>I'm trying hard to give up wechat moment addiction on the way. 08.05.2015 </p>
    <hr>
	</div>
{% endblock %}
